[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/madmaxoft/lua
[submodule "lib/luafilesystem"]
	path = lib/luafilesystem
	url = https://github.com/madmaxoft/luafilesystem
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madmaxoft/zlib
[submodule "lib/lzlib"]
	path = lib/lzlib
	url = https://github.com/madmaxoft/lzlib
[submodule "lib/luasocket"]
	path = lib/luasocket
	url = https://github.com/madmaxoft/luasocket
[submodule "lib/lsqlite3"]
	path = lib/lsqlite3
	url = https://github.com/madmaxoft/lsqlite3
[submodule "lib/lua-cjson"]
	path = lib/lua-cjson
	url = https://github.com/madmaxoft/lua-cjson
[submodule "lib/LuaSimpleWinHttp"]
	path = lib/LuaSimpleWinHttp
	url = https://github.com/madmaxoft/LuaSimpleWinHttp.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/madmaxoft/fmt
[submodule "lib/LuaSha1"]
	path = lib/LuaSha1
	url = https://github.com/madmaxoft/LuaSha1
